{% extends "accounts/base_account.html" %}
{% load static %}
{% block title %}تغییر گذرواژه{% endblock %}
{% block slider %}{% endblock %}

{% block main_content %}
<div class="text-center my-login shadow-lg p-3 mb-5 bg-white rounded">
    <form class="form-signin" action="#" method="post">
        {% csrf_token %}
        {% if change_form.errors %}
            <div class="alert alert-danger">
            <ul>
                {{change_form.errors}}
            </ul>
            </div>
        {% endif %}
        <img class="mb-4" src="{% static 'accounts/images/Edit.png' %}" alt="" width="85" height="85">
        <h4 class="mb-3 font-weight-normal">ابتدا گذر واژه فعلی و سپس گذر واژه جدید را وارد کنید</h4>
        <label for="id_old_password" class="sr-only">گذرواژه فعلی</label>
            <input type="password" id="id_old_password" class="form-control" placeholder="گذر واژه فعلی" required name="old_password">
         <label for="id_new_password1" class="sr-only"> گذرواژه جدید</label>
            <input type="password" id="id_new_password1" class="form-control" placeholder="گذر واژه جدید" required name="new_password1">
        <label for="id_new_password2" class="sr-only">تایید گذرواژه</label>
            <input type="password" id="id_new_password2" class="form-control" placeholder="تایید گذر واژه" required name="new_password2">
        <div class="checkbox mb-3">
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">ثبت تغییرات</button>
        <p class="mt-5 mb-3 text-muted">&copy; 1399 </p>
    </form>
</div>
{% endblock %}